/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body {
	background: url("../Content/images/main_bg.jpg") repeat-x rgb(29, 58, 87); margin: 0px; padding: 0px; color: #666; font-family: Arial, Helvetica, sans-serif; font-size: 10pt;
}

img {
	border: currentColor; border: 0px none white;
}

a {
	color: rgb(0, 96, 191); text-decoration: none; border: 0px none white;
}
a:visited {
	color: rgb(0, 96, 191); text-decoration: none;
}
a:hover {
	color: rgb(161, 50, 50); text-decoration: underline;
}
a:hover:visited {
	color: rgb(161, 50, 50); text-decoration: underline;
}

h2 {padding: 20px;}
/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.wrapper {
	background: url("../Content/images/wrapper_bg.jpg") no-repeat 50% 0px; margin: 0px auto; width: 956px;
}

.header {
	height: 146px;
}
.logo {
	padding: 33px 0px 0px 33px; float: left;
}

#main
{
    background-color: #fff;
    margin: 10px 200px;
    padding: 20px;
    height: 280px;
}




/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset 
{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #CCC;
}

fieldset
{
    margin: 10px 120px;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    color: #666;
    padding: 2px 4px 8px 4px;
}

input[type="text"] 
{
    width: 220px;
    border: 1px solid #CCC;
    margin-left: 15px;
}

input[type="password"] 
{
    width: 220px;
    border: 1px solid #CCC;
    margin-left: 15px;
}

/* TABLE
----------------------------------------------------------*/

table 
{
  border: solid 1px #e8eef4;
  border-collapse: collapse;
}

table td 
{
  padding: 5px;   
  border: solid 1px #e8eef4;
}

table th
{
  padding: 6px 5px;
  text-align: left;
  background-color: #e8eef4; 
  border: solid 1px #e8eef4;   
}

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color:Red;
}

#menucontainer
{
    margin-top:40px;
}

div#title
{
    display:block;
    float:left;
    text-align:left;
}

#logindisplay
{
    font-size:1.1em;
    display:block;
    text-align:right;
    margin:10px;
    color:White;
}

#logindisplay a:link
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label,
.editor-label,
.display-field,
.editor-field
{
    margin: 10px 0;
}

.submit_button
{
	margin-top: 20px;
}
